body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #ffe6f0;
}
.buttons{
    margin-top: 20px;
}
button{
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;

}
#no{
    position: absolute;
}